extends _component/layout/base

block awesome-content
  .body
    iframe(
      src="hi.html"
      frameborder="0"
      width="100%"
      height="100%"
      name="aici"
    ) 
  include _component/menu/menu
